<template name="index">
  <div class="container poll-holder">
    <div class="row">
      <div class="col-md-12">
        <h1>Submit your {{prompt}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <form>
                {{#if isUrl}}
                  <div class="input-group">
                    <input class="form-control" type="url" placeholder="Your URL here..." id="{{fieldName}}" pattern="https?://.{5,400}" title="Enter a valid URL" required>
                    <span class="input-group-btn">
                      {{> _button}}
                    </span>

                  </div>
                {{else}}
                  <div class="form-group">
                    <textarea class="form-control" placeholder="Your {{prompt}} here..." id="{{fieldName}}" title="Enter a valid {{prompt}}" rows="5" required></textarea><br>
                    {{> _button}}
                  </div>
                {{/if}}

        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    {{>_submissions}}
  </div>
</template>

<template name="_button">
  <button type="submit" class="btn btn-primary">Submit</button>  
</template>
